[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "birankr"]
	path = birankr
	url = https://github.com/brianaronson/birankr
[submodule "easyPSID"]
	path = easyPSID
	url = https://github.com/cran/easyPSID
